:root {
  --header-height: 82;
  --grid-base-width: 1500;
  --grid-margin-width: 120;
  --grid-container-width: calc(
    var(--grid-base-width) - 2 * var(--grid-margin-width)
  );
  --field-adorn-width: 25;
}

body {
  margin: 0;
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
:before,
:after {
  box-sizing: border-box;
}

*:focus,
*:focus-within,
*:active {
  outline: none !important;
}

/* reach-ui */
[data-reach-dialog-overlay] {
  z-index: 1000;
}
